
{% extends 'hotelizmaelovo.html.twig' %}

{% block content %}

    <a href="/admin">admin</a>
    <a href="/login">login</a>
    <a href="/register">register</a>

    {# content|raw #}

{% endblock %}

