
{% extends 'base.html.twig' %}

{% block title %}
Имплантация зубов в стоматологии Интермед, Сыктывкар
{% endblock %}

{% block content %}
		<div class="block block_5 clearfix">
			<div class="block_4_img">
				<img src="img/implant3.jpg" width="600" height="600">
			</div>
			<div class="block_4_text">
				<h2>ИМПЛАНТАЦИЯ ЗУБОВ</h2>
				<p>В стоматологической клинике "Интермед" проводится имплантация зубов несколькими системами: (Dentium, Южная Корея), (CSM Implant, Южная Корея).</p>
<!--<p>Установку имплантатов проводят:<br>действительный член Российской Ассоциации Стоматологической Имплантологии (РАСтИ)<br>
			<div class="doctor">
				<img src="img/doctors/sokolov.jpg" width="300" height="341">
				<h3>Соколов Евгений Сергеевич</h3>
			</div>

</p>-->
			</div>
						<div class="block_5_text">
<p><br>С 2009 года врачами клиники Интермед проводится установка дентальных имплантатов. Наши врачи имеют значительный клинический опыт успешной работы с ними.</p>
<p>От нескольких десятков до сотни установленных дентальных имплантатов в месяц.</p>
<p>Прямые поставки дентальных имплантатов от официальных дилеров, значительные скидки при покупке имплантатов за счет объемов, дают нам возможность покупать имплантаты по более доступной цене и делиться этими скидками с Вами, нашими пациентами.</p>
<h2>ЭТАПЫ ИМПЛАНТАЦИИ</h2>
<h2>I этап (хирургический)</h2>
<p>Установка импланта в костную ткань. Манипуляция проводится под местной анестезией и поэтому практически безболезненна.</p>

<p>На десне, куда планируется поставить имплантат, делается надрез, в костной ткани формируется ложе и вводится имплантат.
После этого рана ушивается.</p>
<p>Вот и всё! Имплантат установлен!</p>

<p>I этап протезирования зубов с опорой на имплантаты окончен. Через 7-10 дней вас пригласят для контрольного осмотра и снятия швов.</p>

<p>Теперь необходимо, чтобы имплантат, скажем так, прижился, наступила остеоинтеграция, которая занимает 3-4 месяца.</p>

<h2>II этап (ортопедический)</h2>
<p>Через 3-4 месяцев после успешного приживления импланта, проводится установка коронки зуба.</p>

<p>Но перед этим, для правильного формирования мягких тканей в области будущей коронки, на непродолжительное время, как правило 1-2 недели, устанавливается формирователь десны.</p>
<p>Затем, снимаются слепки, которые передаются в зуботехническую лабораторию для изготовления вам коронки зуба. </p>
<p>Как только коронки будут готовы, вас пригласят для их примерки и фиксации.
</p>

<h2>Гарантия</h2>
<p>Мы даем гарантию на установку имплантата или вернем вам деньги.</p>
	<p>В случае отторжения установленного нами имплантата, принимаем на себя обязательство в пределах гарантийного срока на услугу, вернуть полную стоимость имплантата  ИЛИ провести повторную установку аналогичного имплантата (компании производителя дентального имплантата) БЕСПЛАТНО, но не более 1 раза.</p>

<h2>ПРИБЛИЗИТЕЛЬНЫЙ РАСЧЕТ СТОИМОСТИ:</h2>
<p><b>I хирургический этап (установка имплантата)</b>:

<p>При установке 1 импланта CSM (Южная Корея) примерная стоимость I этапа: </p> <h2>18 000 рублей</h2>

<p>Эта сумма уже включает в себя все необходимые манипуляции для успешного проведения имплантации:</p>
<p>- установка импланта</p>
<p>- непосредственно имплант с заглушкой</p>

<p>На этом этапе иногда могут потребоваться дополнительные материалы, как например костный материал или мембрана. Объем и стоимость требуемого будет оговорена на консультации.</p>

<p>Непосредственно перед II этапом (ортопедический) будет установлен формирователь десны (на 1-2 недели) - <h2>2 500 рублей</h2></p>
<p><b>II ортопедический этап (установка коронки зуба):</b></p>
<p>Включает в себя следующие компоненты:</p>

<p>- снятие слепков</p>
<p>- абатмент CSM, изготовление коронки зуба* и ее фиксация.</p>

<p>* - стоимость коронки варьирует в зависимости от того, на какой основе она будет выполнена: металлокерамическая коронка или безметалловая керамика</p>

<p>Полная стоимость II этапа при протезирования 1 зуба металлокерамической коронкой составит в среднем:</p> <h2>20 000* рублей</h2>
<p>В итоге минимальная стоимость имплантации 1 зуба с коронкой может составить:</p>
<h2>18 000 + 2 500 + 20 000 = 40 500 рублей</h2>
<p>Условия оплаты протезирования на дентальных имплантатах:</p>
<p>Нет нужды платить за все этапы сразу, вы оплачиваете каждый этап отдельно, по мере его наступления.</p>
<p>Сначала оплачивается установка имплантатов, затем установка формирователей десны и уже после этого оплачивается протезирование.</p>

			</div>
		</div>
			<div class="block block_4 clearfix">
			<h2>Записаться на консультацию</h2>
			<div class="block_4_img">
				<img src="img/consulting.jpg" width="500" height="333">
			</div>
			<div class="block_4_text">
				<div class="label" id="time">
					30 минут
				</div>
				<div class="label" id="rubl">
					Бесплатно
				</div>
				<div class="consult_button">
					<a href="aboutus.html">Записаться на консультацию</a>
				</div>
				<p>Мы заключим договор, наш врач осмотрит вас.</p>
				<p>Вы узнаете стоимость лечения и сроки</p>
				<p>Если вас всё устроит, можете сразу же начать лечение.</p>
			</div>
		</div>
{% endblock %}

