{% extends 'admin/list_base.html.twig' %}

{% block listing %}
    <ul>
        {% for item in data %}
            <li>{{ item.title }} <a href="{{ path('admin_category_update', {'id': item.id}) }}">Изменить</a></li>
        {% endfor %}
    </ul>
{% endblock %}

