
<!DOCTYPE html>
<html>
<head>
<title>Overclockers.ru - Новости, статьи и блоги</title>
<meta charset=UTF-8>
<meta http-equiv=Content-Type content="text/html; charset=UTF-8">
<meta name=viewport content="width=device-width, initial-scale=1.0"/>
<meta name=description content=""/>
<meta name=keywords content="">
<meta name=Referrer content=origin-when-crossorigin>
<meta name=google-site-verification content=LGY2ibN7IfMQQCDrXYbXbQQn783ipDQDZ1skgsdxSAM />
<meta name=yandex-verification content=62a8d9506bf9712a />
<meta property=og:url content="https://overclockers.ru"/>
<meta property=og:type content=website />
<meta property=og:locale content=ru_RU />
<meta property=og:title content="Overclockers - Российский оверклокерский портал."/>
<meta property=og:description content=""/>
<meta property=og:image content="https://overclockers.ru/assets/logo.png"/>
<meta property=og:image:secure_url content="https://overclockers.ru/assets/logo.png"/>
<meta property=og:image:type content="image/png"/>
<meta property=fb:app_id content=225183387493689 />
<meta property=og:site_name content=Overclockers.ru />
<meta property=vk:image content="https://overclockers.ru/assets/logo.png"/>
<meta name=twitter:image content="https://overclockers.ru/assets/logo.png"/>
<meta name=twitter:card content=summary />
<meta name=twitter:site content="@overclockers_ru"/>
<meta name=twitter:title content="Overclockers.ru - Российский оверклокерский портал."/>
<meta name=twitter:description content="Российский оверклокерский портал. Справочник по разгону. Пользовательская и лабораторная статистика разгона процессоров. Обзоры материнских плат, видеокарт, кулеров. Новости из мира оверклокинга. Экстремальный разгон. Файлы, конференция, голосования."/>
<link rel=image_src href="https://overclockers.ru/assets/logo.png">
<link rel=alternate type="application/rss+xml" title="Overclockers.ru - Общая лента" href="https://overclockers.ru/rss/all.rss">
<link rel=alternate type="application/rss+xml" title="Overclockers.ru - Лаборатория" href="https://overclockers.ru/rss/lab.rss">
<link rel=alternate type="application/rss+xml" title="Overclockers.ru - Новости" href="https://overclockers.ru/rss/news.rss">
<link rel=alternate type="application/rss+xml" title="Overclockers.ru - Новости сайта" href="https://overclockers.ru/rss/sitenews.rss">
<link rel=alternate type="application/rss+xml" title="Overclockers.ru - Новости IT" href="https://overclockers.ru/rss/itnews.rss">
<link rel=preload as=font href="/assets/fonts/brand-icons.woff2" type="font/woff2" crossorigin>
<link rel=preload as=font href="/assets/fonts/icons.woff2" type="font/woff2" crossorigin>
<link rel=preload as=font href="/assets/fonts/outline-icons.woff2" type="font/woff2" crossorigin>
<link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
<link rel=apple-touch-icon href="/assets/apple-touch-icon.png">
<link rel=apple-touch-icon sizes=72x72 href="/assets/apple-touch-icon-72x72.png">
<link rel=apple-touch-icon sizes=114x114 href="/assets/apple-touch-icon-114x114.png">
<link rel=apple-touch-icon sizes=120x120 href="/assets/apple-touch-icon-120x120.png">
<script src="/assets/app-head.js?v=156"></script>
<link rel=stylesheet media="screen, projection" href="/assets/application.css?v=156"/>
<link rel=stylesheet media=print href="/assets/print.css?v=156"/>
<meta name=layout content=main />
<style>
	</style>
<script async id=__lxGc__rtr src="//s.clickiocdn.com/t/219168/360.js"></script>
<script async src="//s.clickiocdn.com/t/common_258.js"></script>
<style>

.fr-img-caption .fr-inner em{
    display: block;
        text-align: center;
        }

.comments-count i.icon, .rating-count i.icon, .views-count i.icon {
    margin-right: 0.25rem !important;
    }
    i.icon.delete:before{
    font-family: 'Icons' !important;
    }
    .ui.feed.news > .event > .content .meta .icon{
    margin-right: 0.25rem !important;
    }

@media screen and (max-width: 960px) {
.ui.container.main-wrap > .ui.grid > .row > .five.wide.column, .ui.container.main-wrap > .ui.grid > .row > .eleven.wide.column {
        width: 100% !important;
                box-sizing: border-box;
                    }
}

@media only screen and (max-width: 767px) {
.graphic span > table > tbody > tr > td {
    width: auto !important;
    display: block !important;
    text-align: left;
    border-right: none !important;
}

body:not(.no-mob-resize) .ui.items > .item > .image,
  body:not(.no-mob-resize) .ui.items > .item > .image > img {
      max-height: none !important;
        }
  .top-blog-wrap {
	display: none !important;
   }
  /*div[id^="topadvert"] {
	display: none !important;
  }*/

  #yandex_rtb_R-A-630193-11 {
	display: none !important;
  }

  /* .material-uservote-feed > */
  div.article-card:nth-child(n+3) {
    display: none !important;
  }
  .adsbygoogle { width: 728px; height: 500px; !important;}

  .top-an-underlogo {
	display: none !important;
  }
	#bigBanner {
		display: block !important;
	}


}
@media only screen and (max-width: 420px) {
  .adsbygoogle { width: 380px; height: 300px; !important; }
  .graphic {font-size: 0.8rem}
}



.material-inline-an.material-bottom{
 display: block !important;
}

.ui.menu .item.asus {
background-color: #efefef !important;
border-bottom: 0px solid #245d99 !important;
border-top: 0px solid #245d99 !important;
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
	.ui.container.main-wrap {
		width: auto !important;
	}
}


.index-content .container-block.additional-material .ui.feed.news,
.index-content .container-block.comments-feed .ui.comments{
max-height: none !important;
overflow-x: hidden !important;
overflow-y: hidden !important;
}

.right-sticky-content {display:none !important}

</style>
<script>window.yaContextCb = window.yaContextCb || []</script>
</head>
<body class="index-content ">
<div id=siteTop></div>
<div class="ui sidebar inverted vertical menu left mobile-sidebar">
<a class=item href="/">Сайт</a> <a class=item href="https://forums.overclockers.ru">Конференция</a>
<div class=item>
<div class=header>Блоги</div>
<div class=menu>
<a class="link item" href="/blog">Все записи</a> <a class="link item" href="/blog?type=news">Новости</a> <a class="link item" href="/blog?type=articles">Статьи</a> <a class="link item" href="/blog?type=personal">Персональные</a>
<a class="link item attention" href="/about/blogs">Стань автором</a>
</div>
</div>
<div class=item>
<div class=header>Новости</div>
<div class=menu>
<a class="link item" href="/news">Все новости</a> <a class="link item attention" href="/news/lenta">Лента новостей</a> <a class="link item" href="/hardnews">Hardware</a> <a class="link item" href="/softnews">Software</a> <a class="link item" href="/itnews">IT
рынок</a> <a class="link item" href="/sitenews">Новости сайта</a>
</div>
</div>
<div class=item>
<div class=header>Лаборатория</div>
<div class=menu>
<a class="link item" href="/lab">Все статьи</a> <a class="link item" href="/lab/video">Видеокарты</a> <a class="link item" href="/lab/cpu">Процессоры</a> <a class="link item" href="/lab/motherboard">Материнские платы</a> <a class="link item" href="/lab/cooler">Охлаждение</a> <a class="link item" href="/lab/memory">Память</a> <a class="link item" href="/lab/ssd">Накопители
SSD</a> <a class="link item" href="/lab/psu">Блоки питания</a> <a class="link item" href="/lab/case">Корпуса</a> <a class="link item" href="/lab/games">Игры</a> <a class="link item" href="/lab/smartphones">Смартфоны</a> <a class="link item" href="/lab/tablets">Планшеты</a> <a class="link item" href="/lab/notebook">Ноутбуки</a>
</div>
</div>
<div class=item>
<div class=header>Другое</div>
<div class=menu>
<a class="link item attention" href="/cpubase">Статистика разгона</a>
<a class="link item" href="/tag">Теги</a> <a class="link item" href="/files">Файловый архив</a> <a class="link item" href="/about/publicity">Реклама</a> <a class="link item" href="/about/site">О сайте</a>
</div>
</div>
</div>
<!-- CSS 1 INJECT FILE -->
<script>
   const cardinals = '<style>body.pushable { background-color: #ffffff !important; }</style><div style=\"max-width: 600px; border: 4px solid red; padding: 10px; margin: auto;\"><img src=\"//st.overclockers.ru/images/feeding.jpg\" style=\"display:block; margin:auto\"><span style=\"font-size:20pt; font-weight: bold\">Уважаемый посетитель!</span><p>Мы определили, что вы используете систему удаления рекламы - Adblock, AdGuard, встроенную в АНТИВИРУС (например, Kaspersky Анти-Баннер), встроенную в браузер (Opera) или какую-то другую (в т.ч. правленный файл hosts).</p><p>Реклама - <b>единственный</b> источник дохода проекта Overclockers.ru, поэтому нам жизненно важно отображать рекламу на своих страницах.<p>Чтобы сайт жил и развивался, мы просим вас отключить блокировку рекламы.<br><p>До отключения блокировки рекламы вместо картинок, видео и пр. будет отображаться данный блок</b>';
  /*
  (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-6684692793078550",
      enable_page_level_ads: true
  });
$(function() {
	console.log(find(ovCategories, 271));
	if (find(ovCategories, 271)) {
		console.log('games');
	}
});
*/
    window.ao_subid = "";
</script>
<script>
var pathArray = window.location.pathname.split('/');
var exclude_news_id = [110253,110388,110689, 110809, 110915, 111290,111370,111466,111746,111963,112234,112433,112518,112779,113069,113163,113250,113591,113684,113990,114004,114468];
var curr_news_id = Number(pathArray[3]);

var exclude_blpost_id = [33665,38167, 52925,53490,53491,53931,54032,54076,54767,56046];
var curr_blpost_id = Number(pathArray[4]);

if ( (pathArray[3] == 'add') || (pathArray[3] == 'edit') || exclude_news_id.includes(curr_news_id)  || exclude_blpost_id.includes(curr_blpost_id) ){
    console.log('disable admitad');
}
else if (pathArray[1]){

    var firedAdmitad = false;
    window.addEventListener('load', () => {
    if(navigator.userAgent.indexOf("Chrome-Lighthouse") < 0) {
	if (firedAdmitad === false) {
	    firedAdmitad = true;
	    setTimeout(() => {
	        var scriptAdm = document.createElement( "script" );
		scriptAdm.src = '//js.mamydirect.com/js/?h=lj1biydR';
		scriptAdm.async = true;
		document.getElementsByTagName('head')[0].appendChild(scriptAdm);
	    }, 3000);
	}
    }
    });

}
</script>
<ins data-revive-zoneid=6 data-revive-id=c1718c342c7254c976f523d07a047f6e data-revive-ovindex=1></ins>
<div class=pusher>
   <div class="ui container top-an">
   <div class=pip-wrap>
   <!--h1>allsite_top_colored</h1-->
   <!--ins data-revive-zoneid="28" data-revive-id="c1718c342c7254c976f523d07a047f6e"></ins-->
   <!--ins data-revive-zoneid="7" data-revive-id="c1718c342c7254c976f523d07a047f6e"></ins-->
   <style>
   .top-an {
   height: 0px !important;
   /*height:0;*/
   }
   </style>
   <ins data-revive-zoneid=7 data-revive-target=_blank data-revive-id=c1718c342c7254c976f523d07a047f6e></ins>
   <!--ins data-revive-zoneid="30" data-revive-target="_blank" data-revive-id="c1718c342c7254c976f523d07a047f6e"></ins-->
   </div>
   </div>
   <div class="ui inverted fixed menu top-menu mobile-menu hide-desktop hide-minitablet hide-tablet">
   <div class="ui container main-wrap ">
   <div class="menu left-part">
   <a class="ui item sidebar-cnob">
   <i class="icon bars"></i>
   </a>
   <a class="item logo-mobile" href="/"><img src="/assets/logo_text.png" class="ui logo-text"/></a>
   </div>
   <div class="right menu right-part">
   <a class="item search"><i class="icon search"></i></a>
   <div class="ui popup hidden search-menu">
   <form action="/search/result">
   <div class="ui form">
   <div class="ui icon input">
   <input required placeholder="Поиск..." type=text name=searchStr class=site-main-search> <i class="inverted circular link icon search search-submit"></i>
   </div>
   <div>
   <div class="grouped fields">
   <div class=field>
   <div class="ui radio checkbox">
   <input name=sec type=radio checked value=all> <label>Везде</label>
   </div>
   </div>
   <div class=field>
   <div class="ui radio checkbox">
   <input name=sec type=radio value=news> <label>Новости</label>
   </div>
   </div>
   <div class=field>
   <div class="ui radio checkbox">
   <input name=sec type=radio value=articles> <label>Статьи</label>
   </div>
   </div>
   <div class=field>
   <div class="ui radio checkbox">
   <input name=sec type=radio value=blogs> <label>Блоги</label>
   </div>
   </div>
   </div>
   </div>
   или <a href="/tag">поиск по тегам</a>
   </div>
   </form>
   </div>
   <a class="item user-login"><i class="icon user circle outline"></i></a>
   <div class="ui popup hidden user-login-menu">
   <div class="ui buttons">
   <a href="https://forums.overclockers.ru/ucp.php?mode=login&amp;redirect=https://overclockers.ru"><button class="ui positive button on-login">Вход</button></a>
   <div class=or data-text="||"></div>
   <a href="https://forums.overclockers.ru/ucp.php?mode=register"><button class="ui button on-login">Регистрация</button></a>
   </div>
   </div>
   <a class="item hostkey" href="http://billing.hostkey.ru/aff.php?aff=073" target=_blank><img src="/assets/hostkey.png" class=ui />
   </a>
   </div>
   </div>
   </div>
   <div class="ui inverted menu top-menu hide-mobile" itemscope itemtype="http://schema.org/SiteNavigationElement">
   <div class="ui container main-wrap">
   <a class="item hide-desktop" href="/" itemprop=url><img src="/assets/logo_text.png" class="ui logo-text"/></a>
   <a class=item href="https://forums.overclockers.ru" itemprop=url>Конференция</a>
   <div class="ui dropdown item submenu-link">
   Блоги <i class="icon caret down"></i>
   <div class=menu>
   <a class=item href="/blog" itemprop=url>Все записи</a> <a class=item href="/blog?type=news">Новости</a> <a class=item href="/blog?type=articles">Статьи</a> <a class=item href="/blog?type=personal">Персональные</a>
   <a class="item attention" href="/about/blogs" itemprop=url>Стань автором</a>
   </div>
   </div>
   <div class="ui dropdown item submenu-link">
   Новости <i class="icon caret down"></i>
   <div class=menu>
   <a class=item href="/news" itemprop=url>Все новости</a> <a class="item attention" href="/news/lenta">Лента новостей</a> <a class=item href="/hardnews">Hardware</a> <a class=item href="/softnews">Software</a> <a class=item href="/itnews">IT
   рынок</a> <a class=item href="/sitenews">Новости сайта</a>
   </div>
   </div>
   <div class="ui dropdown item submenu-link" href="/lab">
   Лаборатория <i class="icon caret down"></i>
   <div class=menu>
   <a class=item href="/lab" itemprop=url>Все статьи</a> <a class=item href="/lab/video">Видеокарты</a> <a class=item href="/lab/cpu">Процессоры</a> <a class=item href="/lab/motherboard">Материнские платы</a> <a class=item href="/lab/cooler">Охлаждение</a> <a class=item href="/lab/memory">Память</a> <a class=item href="/lab/ssd">Накопители
   SSD</a> <a class=item href="/lab/psu">Блоки питания</a> <a class=item href="/lab/case">Корпуса</a> <a class=item href="/lab/games">Игры</a> <a class=item href="/lab/smartphones">Смартфоны</a>
   <a class=item href="/lab/tablets">Планшеты</a> <a class=item href="/lab/notebook">Ноутбуки</a>
   </div>
   </div>
   <div class="ui dropdown item submenu-link">
   Другое <i class="icon caret down"></i>
   <div class=menu>
   <a class="item attention" href="/cpubase" itemprop=url>Статистика разгона</a>
   <a class=item href="/tag" itemprop=url>Теги</a> <a class=item href="/files" itemprop=url>Файловый архив</a> <a class=item href="/about/publicity" itemprop=url>Реклама</a> <a class=item href="/about/site" itemprop=url>О сайте</a>
   </div>
   </div>
   <div class="right menu">
   <a class="item search"><i class="icon search"></i></a>
   <div class="ui popup hidden search-menu">
   <form action="/search/result">
   <div class="ui form">
   <div class="ui icon input">
   <input required placeholder="Поиск..." type=text name=searchStr class=site-main-search> <i class="inverted circular link icon search search-submit"></i>
   </div>
   <div>
   <div class="grouped fields">
   <div class=field>
   <div class="ui radio checkbox">
   <input name=sec type=radio checked value=all> <label>Везде</label>
   </div>
   </div>
   <div class=field>
   <div class="ui radio checkbox">
   <input name=sec type=radio value=news> <label>Новости</label>
   </div>
   </div>
   <div class=field>
   <div class="ui radio checkbox">
   <input name=sec type=radio value=articles> <label>Статьи</label>
   </div>
   </div>
   <div class=field>
   <div class="ui radio checkbox">
   <input name=sec type=radio value=blogs> <label>Блоги</label>
   </div>
   </div>
   </div>
   </div>
   или <a href="/tag">поиск по тегам</a>
   </div>
   </form>
   </div>
   <a class="item user-login"><i class="icon user circle outline"></i></a>
   <div class="ui popup hidden user-login-menu">
   <div class="ui buttons">
   <a href="https://forums.overclockers.ru/ucp.php?mode=login&amp;redirect=https://overclockers.ru"><button class="ui positive button on-login">Вход</button></a>
   <div class=or data-text="||"></div>
   <a href="https://forums.overclockers.ru/ucp.php?mode=register"><button class="ui button on-login">Регистрация</button></a>
   </div>
   </div>
   <a class="item resize-link hand-link"><i class="icon expand"></i></a>
   <a class="item hostkey" href="http://billing.hostkey.ru/aff.php?aff=073" target=_blank>
   <img src="/assets/hostkey.png" class=ui />
   </a>
   </div>
   </div>
   </div>

   {% block content %}{% endblock %}

</div>



<div class="ui inverted segment vertical footer" itemscope itemtype="http://schema.org/SiteNavigationElement">
<div class="ui container footer-wrap main-wrap">
<div class="ui three column stackable grid">
<div class="two wide column logo center aligned">
<a href="/"><img src="/assets/lazy_clear.gif" class=b-lazy data-src="/assets/logo_wo_text_gray.png"/></a>
<div>overclockers.ru 2001–2021</div>
</div>
<div class="eight wide column top aligned">
<div class="ui horizontal list ">
<a href="/about/site" class=item itemprop=url>О нас</a> <a href="/about/site" class=item itemprop=url>Контакты</a> <a href="/about/republishing" class=item itemprop=url>Использование материалов</a>
<a href="/about/publicity" class=item itemprop=url>Реклама</a> <a href="/about/howto" class=item itemprop=url>Для авторов</a>
</div>
<div class=sublink>
Нашли ошибку или опечатку? <a class="dotted hand-link show-ctrl-enter-link">Выделите и
нажмите Ctrl+Enter</a>
</div>
</div>
<div class="four wide column center aligned">
<div class="ui horizontal list social-link">
<a class=item href="https://www.facebook.com/overclockers.ru"><i class="icon facebook"></i></a>
<a class=item href="https://vk.com/overclockers_ru"><i class="icon vk"></i></a>
<a class=item href="https://twitter.com/overclockers_ru"><i class="icon twitter"></i></a>
<a class=item href="https://t.me/overclockers_news"><i class="icon telegram"></i></a>
<a class=item href="https://www.instagram.com/overclockers.ru_official/"><i class="icon instagram"></i></a>
</div>
</div>
<div class="two wide column middle aligned">
<!-- allsite_footer -->
<a href="https://w.tools/ru/?promo=OVERCLOCKERS.RU" rel=nofollow class=item style="white-space:nowrap;">Мы используем</a><br>
<a href="https://w.tools/ru/?promo=OVERCLOCKERS.RU" rel=nofollow><img src="//st.overclockers.ru/images/partners/wsr_logo.png" width=228 height=63 style="max-width: 100px !important; height: auto; padding-top: 3px;"></a>
<script>
    // google tag
    // var firedGTM = false;
    // window.addEventListener('scroll', () => {
    //     if(navigator.userAgent.indexOf("Chrome-Lighthouse") < 0) {
    //     if (firedGTM === false) {
    //         firedGTM = true;
    //         setTimeout(() => {
    //         <!-- Google Tag Manager -->
    //         (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    //                 new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    //             j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    //             'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    //         })(window,document,'script','dataLayer','GTM-M4V7BTD');
    //         <!-- End Google Tag Manager -->
    //
    //             }, 100);
    //         }
    //     }
    // });


    // google ads
var firedGAds = false;
window.addEventListener('load', () => {
if(navigator.userAgent.indexOf("Chrome-Lighthouse") < 0) {
if (firedGAds === false) {
firedGAds = true;
setTimeout(() => {
var GAdsObject = document.createElement("script");
GAdsObject.src = 'https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js';
GAdsObject.async = true;
document.getElementsByTagName('head')[0].appendChild(GAdsObject);
}, 3000);
}
}
});

    // rotor.over
var firedRotor = false;
window.addEventListener('load', () => {
if(navigator.userAgent.indexOf("Chrome-Lighthouse") < 0) {
if (firedRotor === false) {
firedRotor = true;
setTimeout(() => {
                var RotorObject = document.createElement("script");
                RotorObject.src = 'https://rotor.overclockers.ru/www/delivery/asyncjs.php';
                RotorObject.async = true;
                document.getElementsByTagName('head')[0].appendChild(RotorObject);
                // console.log('rotor added');
}, 3000);
}
}
});


    // yandex ads
    // var firedYandexAds = false;
    // window.addEventListener('scroll', () => {
    //     if(navigator.userAgent.indexOf("Chrome-Lighthouse") < 0) {
    //     if (firedYandexAds === false) {
    //         firedYandexAds = true;
    //         setTimeout(() => {
            var YaAdObject = document.createElement("script");
            YaAdObject.src = 'https://yandex.ru/ads/system/context.js';
            YaAdObject.async = true;
            document.getElementsByTagName('head')[0].appendChild(YaAdObject);

    //     }, 1000);
    //     }
    // }
    // });


    // cackle widget
    var firedCackle = false;
    var cackle_widget = window.cackle_widget || [];

    window.addEventListener('load', () => {
        if(navigator.userAgent.indexOf("Chrome-Lighthouse") < 0) {
        if (firedCackle === false) {
            firedCackle = true;
            setTimeout(() => {
            var cackleObject = document.createElement('script');
            cackleObject.src = 'https://cackle.me/widget.js';
            cackleObject.async = true;
            cackleObject.type = 'text/javascript';
            document.getElementsByTagName('head')[0].appendChild(cackleObject);

        }, 1000);
        }
    }
    });


    // livinet
    // var firedLive = false;
    // window.addEventListener('scroll', () => {
    //     if(navigator.userAgent.indexOf("Chrome-Lighthouse") < 0) {
    //     if (firedLive === false) {
    //         firedLive = true;
    //         setTimeout(() => {
    //             new Image().src = "//counter.yadro.ru/hit?r"+
    //                 escape(document.referrer)+((typeof(screen)=="undefined")?"":
    //                     ";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
    //                     screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
    //                 ";h"+escape(document.title.substring(0,80))+
    //                 ";"+Math.random();
    //         // console.log('live added');
    //     }, 300);
    //     }
    // }
    // });

    // yandex FROM GTM
    // var firedYandex = false;
    // window.addEventListener('scroll', () => {
    //     if(navigator.userAgent.indexOf("Chrome-Lighthouse") < 0) {
    //     if (firedYandex === false) {
    //         firedYandex = true;
    //         setTimeout(() => {
    //         <!-- Yandex.Metrika counter -->
    //             (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
    //                 m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
    //             (window, document, "script", "https://cdn.jsdelivr.net/npm/yandex-metrica-watch/tag.js", "ym");
    //         ym(24362446, "init", {
    //             clickmap:true,
    //             trackLinks:true,
    //             accurateTrackBounce:true,
    //             webvisor: true,
    //             trackHash:true
    //         });
    //         // console.log('yandex added');
    //     }, 300);
    //     }
    // }
    // });


    // ya share
    // var firedShare = false;
    // window.addEventListener('load', () => {
    //     if(navigator.userAgent.indexOf("Chrome-Lighthouse") < 0) {
    //     if (firedShare === false) {
    //         firedShare = true;
    //         setTimeout(() => {
    //             var ShareObject = document.createElement("script");
    //         ShareObject.src = 'https://yastatic.net/share2/share.js';
    //         ShareObject.async = true;
    //         document.getElementsByTagName('head')[0].appendChild(ShareObject);
    //         // console.log('share added');
    //     }, 3000);
    //     }
    // }
    // });


    // mailru
    // var firedMail = false;
    // window.addEventListener('scroll', () => {
    //     if(navigator.userAgent.indexOf("Chrome-Lighthouse") < 0) {
    //     if (firedMail === false) {
    //         firedMail = true;
    //         setTimeout(() => {
    //
    //         var _tmr = window._tmr || (window._tmr = []);
    //         _tmr.push({id: "3118112", type: "pageView", start: (new Date()).getTime()});
    //         (function (d, w, id) {
    //             if (d.getElementById(id)) return;
    //             var ts = d.createElement("script"); ts.type = "text/javascript"; ts.async = true; ts.id = id;
    //             ts.src = "https://top-fwz1.mail.ru/js/code.js";
    //             var f = function () {var s = d.getElementsByTagName("script")[0]; s.parentNode.insertBefore(ts, s);};
    //             if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); }
    //         })(document, window, "topmailru-code");
    //         // console.log('mailru added');
    //     }, 300);
    //     }
    // }
    // });

</script>
<!--LiveInternet logo--><a href="//www.liveinternet.ru/click" target=_blank class=liveinet-logo><img src="//counter.yadro.ru/logo?54.2" alt="" title="LiveInternet: показано число просмотров и посетителей за 24 часа" height=31 width=88 border=0></a><!--/LiveInternet-->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M4V7BTD" height=0 width=0 style="display:none;visibility:hidden"></iframe></noscript>
</div>
</div>
</div>
</div>
<div class="top-scroll main"><i class="icon chevron up"></i></div>
<div class="top-scroll-dis with-an hide-tablet hide-desktop"><i class="icon chevron up"></i></div>
<div class="sticky-bottom-an hide-tablet hide-desktop">
<div class=sticky-bottom-close>
<svg version=1.1 viewBox="0 0 40 40"><rect fill="#fff" x=0 y=0 rx=4 width="100%" height="100%"></rect><polygon points="27,13.7 26.3,13 20,19.3 13.7,13 13,13.7 19.3,20 13,26.3 13.7,27 20,20.7 26.3,27 27,26.3 20.7,20"></polygon></svg>
</div>
<!--Тип баннера: Кэтфиш 100%х100px-->
<!--Расположение: низ страницы-->
<div id=adfox_163540963182564118></div>
<script>
window.yaContextCb.push(()=>{
Ya.adfoxCode.create({
    ownerId: 360682,
    containerId: 'adfox_163540963182564118',
    params: {
	pp: 'i',
	ps: 'feak',
	p2: 'hjxw'
    },
    onRender: function(){
	setStickyBottom();
    },
    onStub:function(){
	$('.sticky-bottom-an').remove();
    },onError:function(){
	$('.sticky-bottom-an').remove();
    }
})
})
</script>
</div>
<div class="ui tiny modal" id=errorMainBox>
<div class=header>
Возникла ошибка
</div>
<div class=close>
<i class="icon remove"></i>
</div>
<div class=content>
<div class="errorMessage ajax-error"></div>
</div>
<div class=actions>
<div class="ui cancel button">
Закрыть
</div>
</div>
</div>
<div class="ui tiny modal" id=infoRegisterBox>
<div class=header>
Регистрация и вход
</div>
<div class=close>
<i class="icon remove"></i>
</div>
<div class="content al-center">
<p><b>Внимание!<br>
Регистрация на сайте и вход осуществляются через конференцию.</b></p>
<p>Для регистрации перейдите по ссылке, указанной ниже. Если у вас уже есть аккаунт в конференции, то для доступа ко всем функциям сайта вам достаточно войти в конференции под своим аккаунтом.
</p>
<div class="ui buttons">
<a href="https://forums.overclockers.ru/ucp.php?mode=login&amp;redirect=https://overclockers.ru"><button class="ui positive button">Вход</button></a>
<div class=or data-text="||"></div>
<a href="https://forums.overclockers.ru/ucp.php?mode=register"><button class="ui button">Регистрация</button></a>
</div>
</div>
<div class=actions>
<div class="ui cancel button">
Закрыть
</div>
</div>
</div>
<div class="ui tiny modal" id=infoOnlyRegisterMainBox>
<div class=header>
Ограниченный доступ
</div>
<div class=close>
<i class="icon remove"></i>
</div>
<div class=content>
<p><b>Данный сервис работает пока только для зарегистрированных пользователей.</b><br>Регистрация займет у вас всего 5 минут, но вы получите доступ к некоторым дополнительным функциям и скрытым разделам.</p><p><a href="https://forums.overclockers.ru/ucp.php?mode=register" target=_blank>Зарегистрироваться</a></p>
</div>
<div class=actions>
<div class="ui cancel button">
Закрыть
</div>
</div>
</div>
<div class="ui tiny modal" id=infoMainBox>
<div class=header>
Информация
</div>
<div class=close>
<i class="icon remove"></i>
</div>
<div class=content>
<div class="infoMessage ajax-success"></div>
</div>
<div class=actions>
<div class="ui cancel button">
Закрыть
</div>
</div>
</div>
<div class="ui modal" id=sitePageLinkBox>
<div class=header>
Ссылка на эту страницу
</div>
<div class=close>
<i class="icon remove"></i>
</div>
<div class=content>
<div class="ui form">
<div class=field>
<input type=text id=sitePageLink name=sitePageLink value="" readonly />
</div>
</div>
</div>
</div>
<div class="ui modal" id=ctrlEnterBox>
<div class=header>Сообщить об ошибке</div>
<div class=close>
<i class="icon remove"></i>
</div>
<div class=content>
<form action="" method=POST id=ctrlEnterForm class="ui form" data-action=ctrlEnterSend>
<div class="required field">
<label for=ctrlEnterError>Ошибка</label>
<textarea rows=3 name=ctrlEnterError id=ctrlEnterError data-validate=textarea-required readonly></textarea>
</div>
<div class=field>
<label for=ctrlEnterComment>Комментарий</label>
<textarea rows=3 name=ctrlEnterComment id=ctrlEnterComment></textarea>
</div>
<div class=field>
<label for=ctrlEnterEmail>Ваш E-mail</label> <input type=text id=ctrlEnterEmail name=ctrlEnterEmail value=""/>
</div>
<div class="ui success message"></div>
<div class="ui error message"></div>
</form>
</div>
<div class=actions>
<div class="ui cancel button"><i class="icon remove"></i> Закрыть</div>
<div class="ui ok orange button"><i class="icon check"></i> Отправить</div>
</div>
</div>
<script src="/assets/app.js?v=156"></script>
</body>
</html>
